body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;    
}                

#map {
    position: absolute;
    top: 100px;
    left: 100px;
    /*bottom: 100px;*/
    /*width: 100%;*/
    width: 800px;
    height: 500px;
}

#description {
  position: absolute;
  top: 100px;
  left: 1000px;
  /*background-color: blue;*/
  width: 300px;
  height: 500px;
  font: 12px/20px 'Helvetic Neue', Arial, Helvetica, sans-serif;  
}

.marker {
  background-image: url('Snowflake-black.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  cursor: pointer;
}

.mapboxgl-popup-content {
    max-width: 500px;
    max-height: 200px;
    overflow: scroll;
    font: 12px/20px 'Helvetic Neue', Arial, Helvetica, sans-serif;  
}
