body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;    
}                

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
  background-image: url('Snowflake-black.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  cursor: pointer;
}
<<<<<<< HEAD
=======
.mapboxgl-popup-content {
	max-width: 400px;
}
>>>>>>> 60ae881f7750c6fd45e213ccfba2cbd8103c42fe
