body, html {
    margin: 0;
    padding: 0;
    font-family: monospace;    
}                

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    /*bottom: 100px;*/
    /*width: 100%;*/
    width: 900px;
    height: 100%;
}

#description {
  position: absolute;
  top: 0px;
  left: 910px;
  background-color: #e9f5ff;
  width: 400px;
  height: 100%;
  font: 12px/20px 'Helvetic Neue', Arial, Helvetica, sans-serif;  
}

.marker {
  background-image: url('Snowflake-black.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  cursor: pointer;
}

.mapboxgl-popup-content {
    max-width: 500px;
    max-height: 400px;
    overflow: scroll;
    font: 12px/20px 'Helvetic Neue', Arial, Helvetica, sans-serif;  
}
